<section data-ng-controller="LettersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Letters</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="letter in letters" data-ng-href="#!/letters/{{letter._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="letter.created | date:'medium'"></span>
				by
				<span data-ng-bind="letter.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="letter.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!letters.$resolved || letters.length">
    	No Letters yet, why don't you <a href="/#!/letters/create">create one</a>?
    </div>
</section>